<div>
    <table class="node-info">
        <tr>
            <th>pod:</th>
            <td>{{ .hostname }}</td>
        </tr>
        <tr>
            <th>node:</th>
{{/*            <td>{{ platform }} ({{ release }})</td>*/}}
        </tr>
    </table>
</div>
